<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>
      {% block title %}Welcome!{% endblock %}
    </title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/jumbotron-narrow.css') }}">
  </head>
  <body>
    <div class="container">
      {% block body %}{% endblock %}
      <div class="text-center">
        <p class="col-md-12">
            &copy; <a href="/admin">
              {{'book.created_by'|trans({'%y%': 2017}) }}
            </a>
        </p>
      </div>
    </div>
    {% block javascripts %}
      <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
      <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    {% endblock %}
  </body>
</html>
