{% extends 'base.html.twig' %}

{% block body %}

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h5>
        <b>{{ 'admin.head'|trans }}</b>
      </h5>
    </div>
    <div class="panel-body">
      {{'admin.welcome'|trans({'%user%': user}) }}

      <a href="{{ path('book') }}">
        {{ 'admin.delete_posts'|trans }}</a><hr>
      <a href="{{ path('admin_logout') }}">
        <span class="glyphicon glyphicon-remove-sign"></span>
      </a>
    </div>
  </div>
{% endblock %}
