{% extends 'base.html.twig' %}

{% block body %}

  {% form_theme form 'bootstrap_3_layout.html.twig' %}

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h5>
        {{ 'book.head'|trans({'%version%': guestbook_v}) }}
        | <b>{{ 'book.head.create'|trans }}</b>
      </h5>
    </div>
    <div class="panel-body">
      {{ form_start(form) }}

             {{ form_widget(form) }}

      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
