{% extends 'base.html.twig' %}

{% block body %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h5 class="pull-left">
        <b>{{ 'book.head'|trans({'%version%': guestbook_v}) }}</b>
      </h5>

      <h3 class="panel-title clearfix">
        <a href="{{ path('new_post') }}" class="btn btn-success pull-right">
          <span class="glyphicon glyphicon-plus"></span>
        {{ 'book.head.create'|trans }}</a>
      </h3>
    </div>

    <div class="panel-body">
      {{ 'book.hello'|trans }},

        {% if app.session.get('user') %}
          {{ app.session.get('user') }}
        {% else %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted(expression('"ROLE_ADMIN" in roles or (user and user.isSuperAdmin())')) %}
                {{ 'book.guest'|trans }} <u>
                  <b>{{ 'book.guest_admin'|trans }}</b>
                </u>
              {% else %}
                {{ 'book.guest'|trans }}
            {% endif %}
        {% endif %}

      {% if app.session.get('user') %}
           , {{ 'book.last_visit'|trans }} <span class="badge">
              {{ app.session.get('last_visit')|date('Y-m-d H:i:s') }}
            </span>
      {% endif %}
      <hr>

      {% for flashMessage in app.session.flashbag.get('admin_post_deleted') %}
        <div class="alert alert-success alert-dismissable fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="glyphicon glyphicon-ok-circle"></span>
              {{ flashMessage|trans }}
        </div>
      {% endfor %}

      {% if posts | length > 0 %}
        <div class="panel">
          <ul>
            {% for post in posts %}
              <li>
                <b style="color: #337ab7;">{{ post.username }}</b>:
                {{ post.message }}
                <br>
                <span style="font-size: 12px;">
                  <i>{{ post.createdAt|date('Y-m-d H:i:s') }}</i>
                </span>
                {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted(expression('"ROLE_ADMIN" in roles or (user and user.isSuperAdmin())')) %}
                  [<a href="{{ path('admin_post_delete', {'id': post.id}) }}">
                    x
                  </a>]
                {% endif %}
              </li>
            {% endfor %}
          </ul>
          <hr>
        </div>
        {{ include('book/total.html.twig') }}

        <div class="navigation">
          {{ knp_pagination_render(posts) }}
        </div>
      {% else %}
        {{ include('book/empty.html.twig') }}
      {% endif %}
    </div>
  </div>
{% endblock %}
